<div class="jumbotron">
  <h1 class="display-4">XOXO, Gossip Bot !</h1>
  <p class="lead">Bienvenue sur notre site de partage d'informations. Ici, tout le monde veut tout savoir !</p>
  <hr class="my-4">
  <p>Tu veux nous partager un nouveau potin ?</p>
  <p class="lead">

    <%= link_to "C'est par ici !", new_gossip_path, class: "btn btn-primary btn-lg", role: "button"%>
  </p>
</div>


<p class="ml-2">Voici la liste de tous les potins envoyés par nos utilisateurs :</p>


<div class="container">
<div class="list-group">
  <% Gossip.order(:id).each do |gossip| %>
  <button type="button" class="list-group-item list-group-item-action">
    <span class="font-weight-bold"> Potin n°<%= gossip.id %>.</span>
    <span class="badge badge-primary badge-pill"><%= gossip.comments.count %> commentaire(s)</span>
    <span class="badge badge-secondary badge-pill"><%= gossip.likes.count %> like(s)</span>
    <br/>
    <%= link_to "#{gossip.title}", gossip_path(gossip.id)%>
    <br/>
    Ajouté le <%= I18n.l(gossip.created_at, format: :short) %>
    <br />
    <% if logged_in? %>
    <%= link_to "Ajouter un commentaire", new_gossip_comment_path(gossip.id)  %>
    <br />
      <% like = current_user.find_like(gossip) %>
      <% if like.blank? %>
        <%= link_to "♡", gossip_likes_path(gossip.id), "data-method": :post, class: 'like-btn'%>
        <% else %>
        <%= link_to "❤", gossip_like_path(gossip.id, like.id), "data-method": :delete, class: 'like-btn'%>
      <% end %>
    <% end %>
  </button>

  <% end %>
</div>
</div>
